.login {
    text-align: center;
    .main {
        form {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 50%;
            width: 100%;

            label {
                display: block;
                text-align: left;
                margin-bottom: 10px;
            }
            input {
                border: 1px solid #ccc;
                width: 100%;
            }
            button {
                &[type="submit"] {
                    background-color: #ccc;
                    border: 1px solid #ccc;
                    color: #fff;
                    cursor: pointer;
                    display: block;
                    margin: 10px auto;
                    padding: 10px;
                    width: 25%;
                }
            }
            p {
                text-align: left;
            }
        }
    }
    header {
        text-align: left;
    }
}
